@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
    margin: 0 auto;
    padding: 0;
    font-family: Montserrat, sans-serif;
    width: 80%;
}

.product {
    margin: 0 auto;
    display: flex;
    width: 90%;
    align-items: flex-start;
    flex-wrap: wrap;
}

.nav-bar {
    background: linear-gradient(-90deg, #84CF6A, #16C0B0);
    height: 60px;
    margin-bottom: 15px;
}

.form {
    float: left;
    padding: 20px;
}

.cap {
    text-transform: capitalize;
}

.userInfo {
    display: block;
    font-family: Montserrat, sans-serif;
    margin: 10px 0;
    margin-right: 10%;

}
